<div class="row">
	<div class="col-sm-12">
		<h2>Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { class: 'form', method: :post }) do |f| %>
      <%= devise_error_messages! %>
			<div class="form-group floating-label">
				<div class="input-group">
					<div class="input-group-content">
            <%= f.email_field :email, class:'form-control' %>
            <%= f.label :email, 'Email address' %>
						<p class="help-block">
              <%= link_to 'Back to login', new_user_session_path %>
            </p>
					</div>
					<div class="input-group-btn">
						<button id="submit_forgotten_password"
							class="btn btn-floating-action btn-primary" type="submit">
              <i class="fa fa-unlock"></i>
            </button>
					</div>
				</div>
			</div>
    <% end %>
	</div>
</div>
